@import "tailwindcss";
@import "./pygments.css";

@plugin "@tailwindcss/typography";

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

/* -----------------------------------------------------------------------------
 * Tailwind Theme
 * -------------------------------------------------------------------------- */

@theme {
  --font-sans: "Satoshi", "Inter", sans-serif;
  --font-heading: "Zilla Slab", serif;
  --font-mono: "IBM Plex Mono", monospace;
}

/* -----------------------------------------------------------------------------
 * Base Styles
 * -------------------------------------------------------------------------- */

/* Account for sticky header when scrolling to anchors */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 86px;
}

/* Show linked images side by side (typically badges) */
.image-row {
  @apply flex flex-wrap gap-1.5 align-middle;

  a > img {
    @apply m-0;
  }
}


/* -----------------------------------------------------------------------------
 * Prose customizations for documentation
 * -------------------------------------------------------------------------- */

.prose {
  @apply max-w-none leading-relaxed;

  a:link {
    @apply no-underline text-blue-600 dark:text-blue-200;
  }

  a:visited {
    @apply no-underline text-purple-600 dark:text-purple-400;
  }

  a:hover, a:active {
    @apply underline;
  }

  /* Headings use custom font */

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading font-semibold;
  }

  h1, h2 {
    @apply pb-2 border-b-1 border-b-gray-300 dark:border-b-gray-700;
  }

  pre {
    @apply font-mono text-gray-800 bg-gray-50 rounded-md border-1 border-gray-200 dark:text-gray-300 dark:bg-gray-800 dark:border-gray-700;
  }
}


/* -----------------------------------------------------------------------------
 * Tocbot TOC styling
 * -------------------------------------------------------------------------- */
.js-toc .toc-list {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0.875rem;
  line-height: 1.25;
}

.js-toc .toc-link {
  @apply no-underline block py-1 pl-3;
  @apply text-gray-600 dark:text-gray-400;
  @apply border-l-2 border-gray-300 dark:border-gray-700;
  @apply duration-150 transition-colors;
}

.js-toc .toc-link:hover {
  @apply text-gray-900 dark:text-gray-50;
}

.js-toc .toc-link.is-active-link {
  @apply font-semibold text-gray-900 dark:text-gray-50;
  @apply border-blue-600 dark:border-blue-400;
}

/* Nested TOC items - indent text but keep borders aligned */
.js-toc .toc-list .toc-list .toc-link {
  padding-left: 1.5rem;
}

.js-toc .toc-list .toc-list .toc-list .toc-link {
  padding-left: 2.25rem;
}

.js-toc .toc-list .toc-list .toc-list .toc-list .toc-link {
  padding-left: 3rem;
}

.js-toc .toc-list .toc-list .toc-list .toc-list .toc-list .toc-link {
  padding-left: 3.75rem;
}

.js-toc .toc-list .toc-list .toc-list .toc-list .toc-list .toc-list .toc-link {
  padding-left: 4.5rem;
}
